* {
    font-family: 'Poppins','Roboto', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #DC0A2D;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.pokeball {
    margin: 1rem;
}

.seachIcon img {
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}