* {
    font-family: 'Poppins','Roboto', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    box-sizing: border-box;
}

body {
    background-color: #DC0A2D;
}

.content {
    padding: 12px;
    background: #DC0A2D;
}

.header {
    display: grid;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 42px;
}

.title {
    gap: 16px;
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
}

h1 {
    line-height: 42px;
}

.filters {
    margin-left: 10px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
}

.searchBar {
    display: flex;
    flex-grow: 1;
    height: 64px;
    background: white;
    padding-left: 12px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    align-items: center;
}



.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;    
    height: 64px;
    background: transparent;
    border: transparent;
    border-radius: 32px;
}

.searchIcon {
    width: 42px;
    height: 42px;
}

#searchInput {
    color: #666666;
    background: transparent;
    font-size: 20px;
    width: 174px;
    line-height: 16px;
    border-color: transparent;
    
}

.sortButton {
    cursor: pointer;
    width: 64px;    
    height: 64px;
    border: transparent;
    border-radius: 32px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.tagIcon {
    width: 42px;
    height: 42px;
}

.popUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 16px;
    background: #DC0A2D;
}

/* Animação de entrada */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
.popup-in {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
  
  /* Animação de saída */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
  
.popup-out {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.popUpHeader {
    padding-inline: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

h2 {
    width: max-content;
    font-size: 22px;
    margin: 0;
}

.popUpContent {
    border-radius: 8px;
    background: white;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 16px;
}

.orderByNumber {
    display: flex;
    gap: 8px;
}

.orderByName {
    display: flex;
    gap: 8px;
}

#number {
    accent-color: #DC0A2D;
}

#name {
    accent-color: #DC0A2D;
}

label {
    font-size: 18px;
    font-weight: normal;
    color: black;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}